.hidden {
    display: none;
}

.dropdown {
    position: absolute;
}
.dropdown-pointer {
    background-color: brown;
    height: 25px;
    width: 25px;
    border-radius: 50px;
}
ul {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 0
}
li {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
}
li:hover {
   background-color: #94a3b8;
  }
a {
    width: 100%;
}
